{{#if block.isCached}}
<i>(Entity is Cached)</i>
{{/if}}
	
<div class="arinfosect">
<i class="fa fa-address-book-o"></i> <span>Organization Information</span>
</div>

    <div class="arinfo">
    {{#if block.data.details.registrant}}
        <span class="arinfolabel"> Organization Handle: </span>
        {{block.data.details.orgHandle}}
    {{/if}}
    </div>

    <div class="arinfo">
    {{#if block.data.details.domains}}
        <span class="arinfolabel"> Organization Name: </span>
        {{block.data.details.orgName}}
    {{/if}}
    </div>

    <div class ="arinfo">
        <a href="{{block.data.details.orgRef}}">View Additional Organization Information</a><i class="btb bt-external-link"></i>
    </div>


<div class="arinfosect">
<i class="fa fa-info"></i> <span>Network Block</span>
</div>

    <div class="arinfo">
    {{#if block.data.details.netBlockHandle}}
		<span class="arinfolabel"> Net Block Handle: </span>
        {{block.data.details.netBlockHandle}}
    {{/if}}
    </div>

    <div class="arinfo">
    {{#if block.data.details.netBlockName}}
        <span class="arinfolabel"> Net Block Name: </span>
        {{block.data.details.netBlockName}}
    {{/if}}
    </div>

    <div class="arinfo">
    {{#if block.data.details.netBlockCIDR}}
        <span class="arinfolabel"> Net Block CIDR: </span>
        {{block.data.details.netBlockCIDR}}
    {{/if}}
    </div>

    <div class="arinfo">
    {{#if block.data.details.startAddr}}
        <span class="arinfolabel"> Start Address: </span>
        {{block.data.details.startAddr}}
    {{/if}}
    </div>
	
    <div class="arinfo">
    {{#if block.data.details.endAddr}}
        <span class="arinfolabel"> End Address: </span>
        {{block.data.details.endAddr}}
    {{/if}}
    </div>

    <div class="arinfo">
    {{#if block.data.details.regDate}}
        <span class="arinfolabel"> Registration Date: </span>
        {{block.data.details.regDate}}
    {{/if}}
    </div>

	<div class="arinfo">
    {{#if block.data.details.upDate}}
        <span class="arinfolabel"> Last Update Date: </span>
        {{block.data.details.upDate}}
    {{/if}}
    </div>

    <div class ="arinlink">
        <a href="{{block.data.details.netBlockRef}}">View Additional Network Information</a><i class="btb bt-external-link"></i>
    </div>

<div class="arinfosect">
<i class="fa fa-globe"></i> <span>Parent Network Details</span>
</div>

    <div class="arinfo">
    {{#if block.data.details.parentHandle}}
        <span class="arinfolabel"> Parent Net Handle: </span>
        {{block.data.details.parentHandle}}
    {{/if}}
    </div>

    <div class="arinfo">
    {{#if block.data.details.parentName}}
        <span class="arinfolabel"> Parent Net Name: </span>
        {{block.data.details.parentName}}
    {{/if}}
    </div>

    <div class ="reversewhoissection">
        <a href="{{block.data.details.parentRef}}">View Additional Parent Network Details</a><i class="btb bt-external-link"></i>
    </div>